@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Boldonse&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");
.hoverDropdawn:hover {
  color: rgb(43, 255, 15);
  background-color: #02eeee41;
}

.background-color {
  background-color: #6d6e75;
}

.color-gradient {
  font-family: "Pacifico", cursive;
  background: linear-gradient(to right, #a7c7e7, #b8e2c8, #f8c8c4, #fff4e6);
  background-clip: text;
  color: transparent;
}

.color {
  color: white;
}

.color-carrito {
  color: greenyellow;
}

.focus {
  color: aqua;
}

.hoverNavbar:hover {
  color: aqua !important;
}

.hoverMarca:hover {
  background: linear-gradient(to right, #fff4e6, #f8c8c4, #b8e2c8, #a7c7e7);
  background-clip: text;
  color: transparent;
}

.contenedorImagenCarrito {
  height: 70px;
  width: 70px;
}

.table td,
.table th {
  text-align: center;
}
.color-footer{
 background-color:#6D6E75 ;

}

main {
  background-color: #fff4e6;
  flex-grow: 1;
} 
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer-logo{
  max-width: 200px; 
  margin: 0 auto;
  display: block;
}
@media (max-width: 991.98px) {
  .footer-logo {
    margin-bottom: 20px;
  }
}

.img-caruosel-patitas {
  height: 370px;
  object-fit: cover;
}


.titulosCarousel {
  font-family: "Boldonse", cursive;
}

.subtituloCarousel{
  font-family: "Josefin Slab", serif;
}

.fadeInTexto{
  animation: fadeIn 2s linear ;
 }

 @keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


@media all and (max-width: 767px) {
  .titulosCarousel {
    bottom: 0; /*100px;*/
    left: -0; /*-400px;*/
  }
  
  .subtituloCarousel{
    bottom: 0; /*100px;*/
    left: 0; /*-400px;*/
  }
}

@media (min-width: 992px) {
  .img-caruosel-patitas{
      height: 500px;
      object-position: 100% 50%;
  }
}

