/* Fuentes y imports */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Boldonse&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Gloria+Hallelujah&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "GloriaHallelujah";
  src: url("../fonts/GloriaHallelujah-Regular.ttf");
}

/* Estilos generales */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.tipografia {
  font-family: "GloriaHallelujah", sans-serif;
}

.titulo {
  background-color: #5079b4;
}

/* Navbar */
.background-color {
  background-color: #6d6e75;
}

.color {
  color: white;
}

.color-carrito {
  color: greenyellow;
}

.color-gradient {
  background: linear-gradient(to right, #a7c7e7, #b8e2c8, #f8c8c4, #fff4e6);
  background-clip: text;
  color: transparent;
  font-family: "Pacifico", cursive;
}

.focus {
  color: aqua;
}

.hoverDropdawn:hover {
  background-color: #02eeee41;
  color: rgb(43, 255, 15);
}

.hoverMarca:hover {
  background: linear-gradient(to right, #fff4e6, #f8c8c4, #b8e2c8, #a7c7e7);
  background-clip: text;
  color: transparent;
}

.hoverNavbar:hover {
  color: aqua !important;
}

/* Index Main */
.colorDeFondoMain {
  background-color: #fff4e6;
}

.font-titulos {
  font-family: "Sour Gummy", sans-serif;
}

.fuenteMain {
  font-family: "Sour Gummy", cursive;
}

.imagenesPrecentacionIndex {
  border-radius: 30px;
}

.object-fit-cover {
  object-fit: cover;
}

.object-position-75 {
  object-position: 75%;
}

.text-justify {
  text-align: justify;
}

.textShadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Footer */
.color-footer {
  background-color: #6d6e75;
}

.footer-logo {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

/* Contacto */
.botoncontacto {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 70px;
}

.contactocontenedor {
  margin: 20px auto;
  max-width: 900px;
  width: 90%;
}

.form-box {
  flex: 1;
  min-width: 300px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.form-control {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.formulariocontacto {
  display: flex;
  flex-direction: column;
}

.inputtextareacontacto {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  padding: 8px;
  width: 100%;
}

.labelcontacto {
  font-weight: bold;
  margin-top: 10px;
}

.map-box {
  background-color: #add8e6;
  border-radius: 5px;
  display: flex;
  flex: 1;
  height: 450px;
  justify-content: center;
  min-width: 300px;
}

/* Carrito */
.contenedorImagenCarrito {
  height: 70px;
  width: 70px;
}

.data {
  width: 100px;
}

.foto-tarjeta {
  height: 25px;
  width: 40px;
}

.table td,
.table th {
  text-align: center;
}

/* Desarrolladores */
.desarrollador-foto {
  height: 200px;
  object-fit: cover;
  object-position: 50% 50%;
  width: 200px;
}

.ismael {
  object-position: 50% 0%;
}

.marcos {
  object-position: 50% 0%;
}

.omar {
  object-position: 50% 100%;
}

.sofia {
  object-position: 50% 58%;
}

/* Login */
.login-container {
  padding: 20px;
  width: 100%;
}

/* Carousel */
.fadeInTexto {
  animation: fadeIn 2s linear;
}

.img-caruosel-patitas {
  height: 370px;
  object-fit: cover;
}

.img-caruosel-producto {
  height: 500px;
  object-fit: contain;
  width: 500px;
}

.subtituloCarousel {
  font-family: "Josefin Slab", serif;
}

.titulosCarousel {
  font-family: "Boldonse", cursive;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fs {
  font-size: 150px;
}

/* Cards */
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.card-footer {
  flex-shrink: 0;
}

.card-header {
  flex-shrink: 0;
}

.card-img-top {
  height: 200px;
  object-fit: contain;
}

.card-text {
  flex-grow: 1;
}

/* Error 404 */
.btn-error:hover {
  background: linear-gradient(to right, #a7c7e7, #b8e2c8, #f8c8c4, #fff4e6);
  font-family: "Pacifico", cursive;
}

.error-section {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

/* Otros componentes */
.contenedorTitulo {
  height: 8rem;
  overflow: hidden;
  width: 100%;
}

.contenedorTitulo img {
  height: 100%;
  object-fit: cover;
  object-position: 100% 80%;
  width: 100%;
}

.lineaSombraInferior {
  background: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  height: 1px;
}

.menu-movil {
  background: white;
  left: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.espacio-titulo {
  scroll-margin-top: 140px;
}

/* Media Queries */
@media (min-width: 425px) {
  .espacio-titulo {
    scroll-margin-top: 90px;
  }
}

@media (max-width: 767px) {
  .img-caruosel-producto {
    height: 250px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .img-caruosel-producto {
    height: 510px;
  }
}

@media (min-width: 768px) {
  .espacio-titulo {
    scroll-margin-top: 0;
  }
}

@media (min-width: 992px) {
  label {
    margin-left: 25px;
  }

  .img-caruosel-patitas {
    height: 500px;
    object-position: 100% 50%;
  }

  .img-caruosel-producto {
    height: 500px;
  }

  .imagenesPrecentacionIndex {
    border-radius: 20px;
  }

  .text-justify {
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .login-card {
    margin: auto;
    max-width: 500px;
    width: 100%;
  }
}