@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.hoverDropdawn:hover {
  color: rgb(43, 255, 15);
  background-color: #02eeee41;
}

.background-color {
  background-color: #6d6e75;
}

.color-gradient {
  font-family: "Pacifico", cursive;
  background: linear-gradient(to right, #a7c7e7, #b8e2c8, #f8c8c4, #fff4e6);
  background-clip: text;
  color: transparent;
}

.color {
  color: white;
}

.color-carrito {
  color: greenyellow;
}

.focus {
  color: aqua;
}

.hoverNavbar:hover {
  color: aqua !important;
}

.hoverMarca:hover {
  background: linear-gradient(to right, #fff4e6, #f8c8c4, #b8e2c8, #a7c7e7);
  background-clip: text;
  color: transparent;
}